@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
  --background-darker: rgba(107, 110, 128, 0.7);
  --background-dark: rgba(107, 110, 128, 0.564);
  --background-light: rgba(107, 110, 128, 0.4);
  --danger-dark: rgba(210, 87, 87, 0.564);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#background {
  z-index: -1;
  position: absolute;
  width: 200vw;
  height: 100%;
  background-position: center;
  background-size: cover;
  animation: slide 100s ease-in-out infinite alternate;
}

@keyframes slide {
  to {
    transform: translate(-50%);
  }
}

.sidebar {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
  height: 100vh;
  overflow: auto;
  position: absolute;
  backdrop-filter: blur(10px);
  background-color: var(--background-dark);
  border-radius: 0 15px 15px 0;
  box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.2),
    inset 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.menu-header,
.title {
  display: flex;
  align-items: center;
}

.title {
  gap: 15px;
}

#menu-icon {
  width: 30px;
  filter: brightness(0) invert(1);
  cursor: pointer;
  margin: 0 14px;
}

#menu-title {
  font-size: 1.3rem;
  font-weight: 600;
}

#menu-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#menu-title,
#menu-content {
  transform: scaleX(1);
  transform-origin: center left;
  transition-property: transform, display;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-behavior: allow-discrete;
}

#menu-title.no-display,
#menu-content.no-display {
  display: none;
}

@starting-style {
  #menu-title,
  #menu-content {
    transform: scaleX(0);
  }
}

#menu-content > div {
  display: grid;
  grid-template-columns: 250px 35px;
  cursor: pointer;
  gap: 10px;
  padding: 8px 6px 8px 20px;
}

#menu-content > div:hover {
  background-color: rgba(107, 110, 128, 0.8);
}

#menu-content > div:active {
  background-color: rgb(107, 110, 128);
}

.place-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: auto auto;
  gap: 5px 10px;
  align-items: center;
}

.place-name {
  grid-column: 1 / 3;
  font-weight: 500;
}

.weather-desc {
  font-size: 0.9rem;
  font-weight: 340;
}

.place-temp {
  grid-row: 1 / 3;
  font-size: 1.3rem;
  font-weight: 480;
}

.place-removal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--danger-dark);
  border-radius: 5px;
  box-shadow:
    inset 0 2px 5px rgba(255, 255, 255, 0.5),
    inset 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.removal-icon {
  width: 22px;
  filter: brightness(0) invert(1);
}

.main {
  padding: 20px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-logo {
  width: 50px;
}

.title-text {
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.85),
    -2px -2px 2px rgba(0, 0, 0, 0.5);
}

#location-name {
  width: 220px;
  line-height: 1.5;
  color: white;
  padding: 0.3rem;
  background-color: var(--background-darker);
  backdrop-filter: blur(10px);
  border-style: none;
  border-radius: 5px;
  border-bottom: 2px solid white;
}

#location-name:focus {
  outline: none;
  border-bottom: 3px solid rgb(54, 108, 225);
}

#location-name::placeholder {
  color: white;
}

#temperature-toggle {
  width: 40px;
  text-align: center;
  padding: 10px 0;
  color: white;
  background-color: var(--background-darker);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow:
    inset 0 2px 5px rgba(255, 255, 255, 0.5),
    inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.content {
  padding: 20px 50px 50px 50px;
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(8, max-content) / 300px 260px;
  justify-content: center;
  gap: 5px 100px;
  backdrop-filter: blur(10px);
  background-color: var(--background-light);
  border-radius: 15px;
  box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.2),
    inset 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.head-address {
  font-size: 2rem;
  font-weight: 500;
}

.subhead-address {
  font-size: 1.5rem;
  font-weight: 450;
}

.place-time {
  font-size: 1.8rem;
}

.place-date {
  font-size: 1.3rem;
}

#location-time {
  grid-row: 2 / 4;
  margin: 10px 0;
}

#weekly-weather {
  grid-row: 4 / 9;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#weekly-weather > div {
  display: grid;
  grid-template-columns: 5fr 3fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.day-name {
  font-weight: 500;
}

.day-icon {
  max-height: 30px;
  max-width: 50px;
  justify-self: center;
}

#temperature {
  font-size: 2.5rem;
  justify-self: center;
  align-self: end;
}

#weather-description {
  font-size: 1.5rem;
  justify-self: center;
}

#feels-like {
  font-size: 1.1rem;
  justify-self: center;
}

#uv-index, #sun-time, #humidity, #wind, #precipitation {
  font-size: 1.1rem;
}

#uv-index {
  margin-top: 20px;
}
